.growth-stories {
	background-image: url('../../assets/images/our-stories-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.growth-stories__gradient {
	padding: 150px 0;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.98) 50%, transparent);
}