$yellow: #FFE602;
$white: #FFFFFF;
$black: #000000;
$heading: #333333;
$sub-heading-on-yellow: #474A5B;
$sub-heading-on-white: #717590;
$description-on-yellow: #17171A;
$description-on-white: #333333;
$nav-menu-color: #484B5C;
$button-border-white: #DBDCE9;
